@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

:root {
  --font-body: "Montserrat", Helvetica, sans-ser;
  --font-headline: "Montserrat";
  /* colors */
  --primary-color: #1b264f;
  --secondary-color: #bb342f;
  --accent1-color: #fbfbfb;
  --accent2-color: #bcabae;
  --headline-color-on-white: #1b264f;
  --headline-color-on-color: #fbfbfb;
  --paragraph-color-on-white: #1b264f;
  --paragraph-color-on-color: #fbfbfb;
  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--paragraph-color-on-color);
  background-color: var(--primary-color);
}
img {
  max-width: 100%;
}
header {
  display: flex;
  justify-content: space-evenly;
  padding: 0 0 30px 0;
}
.logo {
  line-height: 60px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  font-family: var(--font-headline);
}
.logo img {
  width: 60px;
  height: 60px;
}
.logo a {
  text-decoration: none;
  color: var(--font-body);
}
.hero {
  position: relative;
}
.hero img {
  width: 100%;
  margin: 0 auto;
  display: block;
  height: 200px;
  border: solid 5px (var--primary-color);
  border-radius: 0.5em;
}
.hero .logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: 160px;
  background-color: var(--accent2-color);
}
.logo--square {
  font-size: var(--small-font);
  width: 90px;
  height: 90px;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--accent2-color);
}
.logo--square img {
  width: 90px;
  height: 90px;
}

button {
  padding: 5px;
  background-color: var(--accent2-color);
  color: var(--paragraph-color-on-white);
  margin: auto;
  display: block;
  border: 0;
  font-size: var(--small-font);
  cursor: pointer;
}
.divider {
  border-bottom: 2px solid var(--secondary-color);
}
/* End utility classes */

.main-grid {
  text-align: center;
}

#weather,
#map {
  border: 2px solid var(--secondary-color);
  border-radius: 0.5em;
}

.remove-item {
  font-size: 1.5em;
  color: red;
  cursor: pointer;
  margin-left: auto;
  padding: 5px 15px;
  border: none;
  background: none;
  transition: transform 0.2s ease;
  grid-column: 3/4;
  grid-row: 1;
}

.remove-item:hover {
  transform: scale(1.2);
}

.alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  background-color: var(--primary-color);
  width: 80%;
  margin: 0 auto;
}
.alert > p {
  margin: 0;
}

@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }
  .main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .main-item {
    padding: 1em;
    margin: 1em;
  }
  #greeting {
    grid-column: 1 / 5;
  }
  #weather {
    grid-column: 1/3;
  }
  #map {
    grid-column: 3/5;
  }
  #quote {
    grid-column: 1/5;
  }
}

footer {
  font-size: var(--small-font);
  padding: 1em;
}
